.admin-section {
  padding: 7rem 2rem 0rem 18rem;
}

/* Tampilan default untuk perangkat mobile (grid 1 kolom) */
@media (max-width: 640px) {
  .admin-section {
    grid-template-columns: 1fr;
    padding: 7rem 1rem 0rem 1rem;
  }
  .admin-card {
    grid-template-columns: 1fr;
  }
}

/* Tampilan untuk tablet (grid 2 kolom) */
@media (min-width: 641px) and (max-width: 1024px) {
  .admin-section {
    grid-template-columns: repeat(2, 1fr);
    padding: 7rem 2rem 0rem 2rem;
  }
  .admin-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tampilan untuk desktop (grid 3 kolom atau lebih, sesuai kebutuhan) */
@media (min-width: 1025px) {
  .admin-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .admin-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

.admin-card {
  display: grid;
  gap: 15px;
  margin-bottom: 20px;
}
.admin-hr {
  border: none; /* Menghapus border default */
  height: 2px; /* Tinggi garis */
  background-color: #e5e7eb; /* Warna garis */
}
.icon-admin {
  width: 1.25rem;
  height: 1.25rem;
  color: #01bc8d;
  background-color: #f3f4f6;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
