/* Main container */
.blog-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0.5rem;
}

/* Grid layout */
.blog-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr); /* Default untuk mobile */
}

/* Tablet layout: 2 columns */
@media (min-width: 640px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop layout: 3 columns */
@media (min-width: 1024px) {
  .blog-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Card styling */
.blog-card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

/* Image styling */
.blog-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  background-position: center;
}

/* Content styling */
.blog-content {
  padding: 1rem;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.blog-text {
  color: #6b7280;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.blog-button {
  display: inline-block;
  background-color: #01bc8d;
  color: white;
  margin-bottom: 5px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.blog-button:hover {
  background-color: #059470;
}

.blog-hr {
  border: none; /* Menghapus border default */
  height: 2px; /* Tinggi garis */
  background-color: #e5e7eb; /* Warna garis */
  margin-bottom: 50px;
}
