.page-logos {
  max-width: 1024px;
  margin: 0 auto;
}

.logos-grid {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  align-items: center;
  padding: 3%;
}

.logo-item {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.logo-image {
  display: block;
  height: auto;
  max-width: 100%;
}

@media (min-width: 425px) {
  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 24px 36px;
  }
}

@media (min-width: 1024px) {
  .logos-grid {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}
