.page-logos {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 70px;
}

.logos-grid {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  padding: 5px;
}

.logo-item {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.logo-image {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto;
}

@media (min-width: 425px) {
  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .logos-grid {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}
