/* Tambahkan font-face untuk setiap variasi font */
@font-face {
  font-family: "Lota Grotesque Alt 1";
  src: url("../font/Lota\ Grotesque\ Alt\ 1\ Black\ Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Lota Grotesque Alt 1";
  src: url("../font/Lota\ Grotesque\ Alt\ 1\ Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lota Grotesque Alt 1";
  src: url("../font/Lota\ Grotesque\ Alt\ 1\ Bold\ Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lota Grotesque Alt 1";
  src: url("../font/Lota\ Grotesque\ Alt\ 1\ Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lota Grotesque Alt 1";
  src: url("../font//Lota\ Grotesque\ Alt\ 1\ Regular.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lota Grotesque Alt 1";
  src: url("../font/Lota\ Grotesque\ Alt\ 1\ Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lota Grotesque Alt 1";
  src: url("../font//Lota\ Grotesque\ Alt\ 1\ Semi\ Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lota Grotesque Alt 1";
  src: url("../font/Lota\ Grotesque\ Alt\ 1\ SemiBold\ Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* Buat kelas untuk masing-masing font */
.font-black-italic {
  font-family: "Lota Grotesque Alt 1";
  font-weight: 900;
  font-style: italic;
}

.font-black {
  font-family: "Lota Grotesque Alt 1";
  font-weight: 900;
  font-style: normal;
}

.font-bold-italic {
  font-family: "Lota Grotesque Alt 1";
  font-weight: 700;
  font-style: italic;
}

.font-bold {
  font-family: "Lota Grotesque Alt 1";
  font-weight: 700;
  font-style: normal;
}

.font-regular-italic {
  font-family: "Lota Grotesque Alt 1";
  font-weight: 400;
  font-style: italic;
}

.font-regular {
  font-family: "Lota Grotesque Alt 1";
  font-weight: 400;
  font-style: normal;
}

.font-semi-bold {
  font-family: "Lota Grotesque Alt 1";
  font-weight: 600;
  font-style: normal;
}

.font-semi-bold-italic {
  font-family: "Lota Grotesque Alt 1";
  font-weight: 600;
  font-style: italic;
}
