@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akira Expanded";
  src: url("/UTS/public/font/Akira.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Akira Expanded", sans-serif;
  background-image: url("/UTS/public/img/backgroundHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 40;
  background-position: center;
  height: 700px;
}
