body {
  background-color: white;
  font-family: "Akira Expanded", sans-serif;
}
@font-face {
  font-family: "Akira Expanded";
  src: url("/UTS/public/font/Akira.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
