.gradientText {
  background: linear-gradient(90deg, #ee8c61 27%, #4c43c4 87%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.bgUp {
  background-color: rgba(235, 102, 43, 0.05);
}
.optionDetination {
  width: 800px;
}
.positionHome {
  display: flex; /* Pastikan ini ada */
  justify-content: center; /* Untuk men-center secara horizontal */
  align-items: center; /* Untuk men-center secara vertical */
  text-align: center; /* Untuk men-center teks */
  /* Tambahan ini jika diperlukan */
  flex-direction: row; /* Atur agar elemen disusun secara horizontal */
}

.textHome {
  text-align: center;
}
@media (max-width: 768px) {
  .optionDetination {
    width: 400px;
  }
  .positionHome {
    justify-content: left;
    align-items: left;
  }
  .textHome {
    text-align: left;
  }
}
.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
