.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(128, 128, 128, 0.11);
}

/* Container */
.container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}

/* Navbar Content */
.navbar-content {
  flex: 1;
  display: flex;
  justify-content: center; /* Mengatur agar berada di tengah */
}

/* Navbar List */
.navbar-list {
  display: flex;
  gap: 1rem; /* Jarak antar link */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Navbar Link */
.navbar-link {
  padding: 0.5rem 1rem;
  color: #1f2937;
  text-decoration: none;
  font-weight: 500;
}

.navbar-link:hover {
  color: #01bc8d;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
}

.navbar-link.active {
  color: #01bc8d;
}

/* Actions */
.actions {
  display: flex;
  align-items: center;
  margin-left: auto; /* Agar berada di ujung kanan */
}

/* Button Primary */
.button-primary {
  color: #ffffff;
  background-color: #01bc8d;
  border-radius: 0.5rem;
  padding: 0.7rem 1.4rem;
  font-weight: 500;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #059470;
}

.button-primary:focus {
  outline: 4px solid #93c5fd;
}
