.navbarBackground {
  background-color: black;
}
body {
  background-image: url("/UTS/public/img/backgroundHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 40;
}

.navbar {
  position: relative; /* Menjaga navbar tetap berada di atas */
  z-index: 30; /* Menetapkan z-index untuk navbar */
}

button {
  cursor: pointer; /* Menambahkan kursor pointer pada tombol */
}
