.custom-card {
  display: block;
  padding: 1.5rem;
  background-color: #ffffff;
  border: 2px solid #e5e7eb;
  border-radius: 0.5rem;
}

.custom-card-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #111827;
  margin-top: 0;
}

.custom-card-text {
  font-weight: 400;
  color: #9ca3af;
  margin-bottom: 0;
}

.admin-card {
  display: grid;
  gap: 15px;
  padding: 7rem 2rem 0rem 18rem;
}

/* Tampilan default untuk perangkat mobile (grid 1 kolom) */
@media (max-width: 640px) {
  .admin-card {
    grid-template-columns: 1fr;
    padding: 7rem 1rem 0rem 1rem;
  }
}

/* Tampilan untuk tablet (grid 2 kolom) */
@media (min-width: 641px) and (max-width: 1024px) {
  .admin-card {
    grid-template-columns: repeat(2, 1fr);
    padding: 7rem 2rem 0rem 2rem;
  }
}

/* Tampilan untuk desktop (grid 3 kolom atau lebih, sesuai kebutuhan) */
@media (min-width: 1025px) {
  .admin-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
