.custom-card {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #ffffff;
  border: 2px solid #e5e7eb;
  border-radius: 1rem;
  align-items: center;
}

.custom-card-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #9ca3af;
  margin-top: 0;
}

.custom-card-text {
  color: #111827;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}
